<tr>
  <td class="category-name">
    <%= category.name %>
  </td>
  <td class="category-description">
    <%= category.description %>
  </td>
  <td class="category-word-total">
    <%= category.words.size %>
  </td>
  <td class="col-actions text-right">
    <%= link_to [:admin, category], class: "btn btn-info btn-xs" do %>
      </span> Details
    <% end %>
    <%= link_to [:edit, :admin, category], class: "btn btn-default btn-xs" do %>
      Edit
    <% end %>
    <%= link_to admin_category_path(category), method: :delete,
      class: "btn btn-danger btn-xs", data: {confirm: "You sure?"} do %>
      Delete
    <% end %>
  </td>
</tr>
